html {
  font-size: 16px;
  line-height: 1.2;
  min-height: 100vh;
}

body {
  background-color: #fff;
  color: $gray-dark;
  font-size: 16px;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: normal;
  overflow-x: hidden;
  font-weight: inherit;
  min-height: 100vh;

  // Site underwear, should be the same color as the footer
  // &::before {
  //   content: '';
  //   position: fixed;
  //   background-color: #808080;
  //   left: 50%;
  //   bottom: 0;
  //   transform: translateX(-50%);
  //   max-width: 1920px;
  //   width: 100%;
  //   height: 2000px;
  //   min-height: 100vh;
  //   z-index: -1;
  // }

  &.no_underwear {
    &::before {
      content: none;
    }
  }

  &.no_Scroll {
    overflow: hidden;
  }
}

.Outer_container {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1920px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Whole_page {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  .public_nav {
    flex: 0 0 auto;
  }

  .secure_nav {
    flex: 0 0 auto;
  }

  .page {
    flex: 1 1 auto;
  }
}

footer {
  margin-top: $s48;
}
