@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

p {
  font-family: 'Open Sans';
}

a {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans';
}

h1, .h1 {
  font-size: $t48;

  @media ($lg) {
    font-size: $t60;
  }
}
h2, .h2 {
  font-size: $t36;

  @media ($lg) {
    font-size: $t48;
  }
}
h3, .h3 {
  font-size: $t24;

  @media ($lg) {
    font-size: $t36;
  }
}
h4, .h4 {
  font-size: $t18;

  @media ($lg) {
    font-size: $t24;
  }
}
h5, .h5 {
  font-size: $t16;
  font-weight: bold;

  @media ($lg) {
    font-size: $t18;
  }
}
h6, .h6 {
  font-size: $t16;
  font-weight: bold;
}

a {
  color: $color2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
