.center_stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.container {
  padding: 0 $s16;
  margin-right: auto;
  margin-left: auto;

  @media ($sm) {
    max-width: $smScreen;
  }

  @media ($md) {
    max-width: $mdScreen;
  }

  @media ($lg) {
    max-width: $xlScreen;
  }

  @media ($xl) {
    max-width: $xlScreen;
  }

  @media ($xxl) {
    max-width: $xxlScreen;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.gap_wrap_8 {
  margin: -$s8;
}

.gap_8 {
  padding: $s8;
}

.flex_item_dynamic {
  flex: 1 1 auto;
}

.flex_item_static {
  flex: 0 0 auto;
}

.fieldset {
  padding: $s8;

  label {
    display: block;
    padding-bottom: $s4;
  }
}
