// -=-=-=-=-=-=-=-=-=-
// COLORS
// -=-=-=-=-=-=-=-=-=-

/* HEX */
// $color1: #e63b2eff;
// $color2: #08415cff;
// $color3: #16db65ff;
// $color4: #5b85aaff;
// $color5: #1be7ffff;
// $color6: #7a306cff;
// $color7: #ff5714ff;
// $color8: #2a9134ff;
// $color9: #264653ff;
// $color10: #4c5f6bff;

// Brand Colors:
// $color1-dark: #2a9134ff;
$color1: #16db65ff;
// $color1-light: #71fb9d;
$color2: #264653ff;
$color3: #ff5714ff;
$color4: #1be7ffff;
$color5: #7a306cff;
$color6: #4c5f6bff;

// Gray shades
$black: #323738;
$gray-darkest: #444444;
$gray-darker: #666666;
$gray-dark: #53575B;
$gray: #717171;
$gray-light: #AAA9AA;
$gray-lighter: #e3ebef;
$gray-lightest: #f8fafb;
$white: #ffffff;

// General colors:
$blue: #57B1DD;
$green: #45B97C;
$red: $color3; // #ed5648
$orange: #f7941d;
$yellow: #E8DA8F;

// $blue-dark: #1E7BC0;
// $blue: #57B1DD;
// $blue-light: #89C8E7;

// $teal-dark: #0A8FA5;
// $teal: #33BFCD;
// $teal-light: #70D2DC;

// $green-dark: #13863C;
// $green: #45B97C;
// $green-light: #7DCEA3;

// $red: #ed5648;

// $orange: #f7941d;

// $yellow: #E8DA8F;
// $yellow-light: #F7EAA0;
// $yellow-lighter: #fffbf4;

// $purple: #9d70d9;

// -=-=-=-=-=-=-=-=-=-
// SPACING
// -=-=-=-=-=-=-=-=-=-
$s2: 0.13rem;
$s4: 0.25rem;
$s8: 0.5rem;
$s12: 0.75rem;
$s16: 1rem;
$s18: 1.125rem;
$s20: 1.25rem;
$s24: 1.5rem;
$s32: 2rem;
$s40: 2.5rem;
$s48: 3rem;
$s64: 4rem;
$s80: 5rem;
$s96: 6rem;
$s128: 8rem;

// -=-=-=-=-=-=-=-=-=-
// TEXT SIZES
// -=-=-=-=-=-=-=-=-=-
$t10: .625rem;
$t12: .75rem;
$t14: .875rem;
$t16: 1rem;
$t18: 1.125rem;
$t20: 1.25rem;
$t24: 1.5rem;
$t30: 1.875rem;
$t36: 2.25rem;
$t48: 3rem;
$t60: 3.75rem;
$t90: 5.625rem;
$t109: 6.8125rem;

// -=-=-=-=-=-=-=-=-=-
// Screen SIZES
// -=-=-=-=-=-=-=-=-=-
$smScreen: 576px;
$mdScreen: 768px;
$lgScreen: 992px;
$xlScreen: 1200px;
$xxlScreen: 1600px;

$sm: (min-width: $smScreen);
$md: (min-width: $mdScreen);
$lg: (min-width: $lgScreen);
$xl: (min-width: $xlScreen);
$xxl: (min-width: $xxlScreen);
