{% extends "layouts/error-layout.njk" %}

{% block headCode %}
  <style>
    body {
      background-color: tomato;
      color: #fff;
      font-family: sans-serif;
    }
  </style>
{% endblock %}

{% block content %}
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://www.mozilla.org/en-US/firefox/new/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <h1 style="font-size: 12rem;margin-top: 6rem;margin-bottom: 0">500</h1>
  <p style="margin-top:-1rem;margin-left:.5rem">Oops, our bad...</p>
  <p style="margin-top:-1rem;margin-left:.5rem">Or was it?....</p>
{% endblock %}

{% block footerCodeBefore %}{% endblock %}

{% block footerCode %}{% endblock %}
