{% extends "layouts/main-layout.njk" %}

{% block headCode %}{% endblock %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block footerCodeBefore %}{% endblock %}

{% block footerCode %}
  <script src="/assets/main.js?v={{ global.cacheVersion }}"></script>
{% endblock %}
