<template>
  <div class="public_nav">
    <div class="container">
      <nav>
        <h1><router-link to="/">Cozi</router-link></h1>
        <ul>
          <li><router-link to="/">Home</router-link></li>
          <li v-if="!isLoggedIn"><router-link to="/login">Login</router-link></li>
          <li v-if="isLoggedIn"><router-link to="/app" class="btn">Back to the App</router-link></li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>

export default {
  name: 'public-nav',
  data() {
    return {

    }
  },
  props: {
    isLoggedIn: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-right: -$s4;

      li {
        padding: $s4;
      }
    }
  }
</style>
