<template>
  <div class="secure_nav">
    <div class="container">
      <nav>
        <h1><router-link to="/app">Cozi</router-link></h1>
        <ul>
          <li><router-link to="/app/profile">Profile</router-link></li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app-nav',
  data() {
    return {

    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-right: -$s4;

      li {
        padding: $s4;
      }
    }
  }
</style>
