.btn {
  padding: $s4 $s16;
  font-size: $t16;
  color: $white;
  background-color: $color2;
  border-radius: 3px;
  transition: all .3s;
  user-select: none;

  &:hover {
    text-decoration: none;
  }
}