<template>
  <div class="Whole_page" v-cloak>
    <router-view name="nav" :is-logged-in="isLoggedIn" />
    <router-view :is-logged-in="isLoggedIn" />
  </div>
</template>

<script>
import { router } from '~/vue/router'
import { addAuth, clearAuth } from '~/js/axios'
import { eventBus } from '~'
// import { differenceInHours } from 'date-fns'

export default {
  router,
  name: 'root',
  el: '#app',
  metaInfo: {
    title: 'Your Site!'
  },
  data: {
    isLoggedIn: false,
    user: {}
  },
  components: {

  },
  methods: {
    async logout () {
      this.isLoggedIn = false
      this.user = {}
      clearAuth()
    }
  },
  mounted () {
    // Check if we are online or not
    if (navigator.onLine !== undefined) {
      window.addEventListener('online', (e) => {
        if (process.env.NODE_ENV === 'development') console.log('navigator.onLine: ', navigator.onLine)
      })

      window.addEventListener('offline', (e) => {
        if (process.env.NODE_ENV === 'development') console.log('navigator.onLine: ', navigator.onLine)
      })
    }
  },
  async created () {
    const token = await this.$localDb.get('token')
    if (token) {
      addAuth(token)
      this.isLoggedIn = true
    } else this.isLoggedIn = false

    const user = await this.$localDb.get('user')
    if (user) this.user = user
  }
}
</script>

<style lang="scss" scoped>

</style>
