<template>
  <div class="login">
    <form @submit.prevent="submintLogin">

      <div class="fieldset">
        <label for="email">email</label>
        <span class="p-input-icon-left">
          <i class="pi pi-user" />
          <InputText id="email" type="text" v-model="fields.email" placeholder="joe@joey.com" />
        </span>
      </div>

      <div class="fieldset">
        <label for="password">Password</label>
        <span class="p-input-icon-left">
          <i class="pi pi-user" />
          <InputText id="password" type="password" v-model="fields.password" placeholder="*****" />
        </span>
      </div>

      <div class="fieldset">
        <Button type="submit" label="Submit" :icon="submitIcon" iconPos="right" />
      </div>

    </form>
    <p v-if="status.isLoading">Is Loading</p>
  </div>
</template>

<script>
import { login } from '~/js/requests'
import InputText from 'primevue/inputtext'
import Button from 'primevue/button'

export default {
  name: 'LoginForm',
  data() {
    return {
      fields: {
        email: '',
        password: ''
      },
      status: {
        isLoading: false
      }
    }
  },
  components: {
    InputText,
    Button
  },
  props: {
    next: {
      type: Function,
      default () {
        this.$router.push({ path: 'app' })
      }
    }
  },
  computed: {
    submitIcon () {
      return this.status.isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-arrow-right'
    }
  },
  methods: {
    submintLogin () {
      console.log('hello from submit!')
      this.isLoading = true

      login(this.fields.email, this.fields.password)

      .then(res => {
        this.isLoading = false

        this.$root.user = res.data.user

        this.next()
      })

      .catch(err => {
        if (process.env.NODE_ENV === 'development') console.error('login error: ', err)
        this.$noty({
          type: 'warning',
          text: 'Username and/or password is incorrect'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  label {
    display: block;
  }
</style>
