<template>
  <div class="Modal">
    <h1>Modal</h1>
  </div>
</template>

<script>

export default {
  name: 'modal',
  data() {
    return {

    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
  h1 {
    font-size: 60px;
  }
</style>
