<template>
  <div class="page main_wrap">
    <div class="container">
      <h1>You are logged in!</h1>
    </div>
    <router-view :is-logged-in="isLoggedIn" class="panel" />
  </div>
</template>

<script>

export default {
  name: 'Main',
  data() {
    return {

    }
  },
  components: {

  },
  props: {
    isLoggedIn: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  methods: {

  },
  mounted() {

  }
}
</script>

<style lang="scss">
  body {
    max-height: 100vh;
    overflow: hidden;
  }
</style>
