<template>
  <div class="page">
    <div class="container" v-if="!isLoggedIn">
      <LoginForm />
    </div>

    <div class="loggedInHero" v-if="isLoggedIn">
      <div class="container">
        <h1>Silly...</h1>
        <h2>You are already logged in!</h2>
        <p>Lets get you back to the right place.</p>
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from '~/vue/components/login-form.vue'

export default {
  name: 'LoginPage',
  metaInfo: {
    title: 'Log into the App'
  },
  data() {
    return {
      test: ''
    }
  },
  props: {
    isLoggedIn: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  components: {
    LoginForm
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
  .loggedInHero {
    background-color: $green;
    padding: $s96 0;
    color: $white;

    p {
      margin-top: $s24;
      font-size: 18px;
    }
  }
</style>
