<template>
  <div class="page container">
    <h1>Profile Info</h1>

    <div class="spacer">
      <pre>
        <code>{{ user }}</code>
      </pre>
    </div>

    <Button label="Logout" icon="pi pi-arrow-right" @click="logout" />
  </div>
</template>

<script>
import Button from 'primevue/button'

export default {
  name: 'Profile',
  metaInfo: {
    title: 'Profile'
  },
  data() {
    return {
      user: {}
    }
  },
  props: {
    isLoggedIn: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  methods: {
    logout () {
      this.$root.logout()
        .then(() => {
          this.$router.push('/')
        })
    }
  },
  async mounted () {
    this.user = await this.$localDb.get('user')
  },
  components: {
    Button
  }
}
</script>

<style lang="scss" scoped>
  .spacer {
    padding: $s48 0;
  }
</style>
